@model ShopOnline.Models.Member
@{
    ViewBag.Title = "Hồ sơ tài khoản";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

<div class="container info spad">
    <div class="singinBx">
        @using (Html.BeginForm("EditProfie", "Home", FormMethod.Post, new { @id = "form-1", @style="width:100%", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <h2>@ViewBag.Title</h2>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row justify-content-center">
                <div class="col-md-3 text-center">
                    @if (Model.avatar != null)
                    {
                        <img id="picture" class="img-thumbnail" src="@Url.Content(Model.avatar)" />
                    }
                    else
                    {
                        <img id="picture" class="img-thumbnail" src="~/img/avatar.png" />
                    }

                    <div class="form-group mt-2 position-relative">
                        <input type="file"
                               id="avatarInput"
                               name="uploadFile"
                               accept=".png,.jpg,.jpeg"
                               onchange="document.getElementById('picture').src = window.URL.createObjectURL(this.files[0])"
                               style="display: none;" />

                        <button type="button" id="upload-button" class="circle-btn site-btn" style="position: absolute; padding: 0; right: 20%; bottom: 0%;" onclick="document.getElementById('avatarInput').click();">
                            <img src="~/Content/img/icon/favorite-folder.png" alt="" />
                        </button>
                    </div>

                </div>
                <div class="col-md-6">
                    @Html.HiddenFor(model => model.dateCreate)
                    @Html.HiddenFor(model => model.status)
                    @Html.HiddenFor(model => model.roleId)
                    @Html.HiddenFor(model => model.password)
                    @Html.HiddenFor(model => model.memberId)

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="lastName">Họ</label>
                                @Html.EditorFor(model => model.lastName)
                                <span class="form-message"></span>
                            </div>
                            <div class="col">
                                <label for="firstName">Tên</label>
                                @Html.EditorFor(model => model.firstName)
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        @Html.EditorFor(model => model.email)
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @type = "number" } })
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Ngày sinh</label>
                        @Html.TextBoxFor(model => model.birthday, new { @id = "birthday", @type = "date", @Value = Model.birthday.HasValue ? Model.birthday.Value.ToString("yyyy-MM-dd") : "" })
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        @Html.EditorFor(model => model.address)
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group text-center">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn site-btn">Thay đổi</button>
                            <button type="reset" class="btn outline-btn">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var obj = document.querySelector(".navbar li:nth-child(1)");
    obj.classList.remove("active");
</script>
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#firstName'),
            Validator.isRequired('#lastName'),
            Validator.isEmail('#email'),
            Validator.isRequired('#phone'),
            Validator.isDate('#birthday'),           
            Validator.isRequired('#address')
        ],
    });
</script>
