@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

@if (TempData["msgLoginSuccess"] != null)
{
    <script>
        showToast({
            type: "success",
            message: "@TempData["msgLoginSuccess"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
@if (TempData["msgChangePassword"] != null)
{
    <script>
        showToast({
            type: "success",
            message: "@TempData["msgChangePassword"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
else if (TempData["msgChangePasswordFailed"] != null)
{
    <script>
        showToast({
            type: "danger",
            message: "@TempData["msgChangePasswordFailed"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
@if (TempData["msgEditProfile"] != null)
{
    <script>
        showToast({
            type: "success",
            message: "@TempData["msgEditProfile"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
else if (TempData["msgEditProfileFailed"] != null)
{
    <script>
        showToast({
            type: "danger",
            message: "@TempData["msgEditProfileFailed"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg=@Url.Content("~/Content/img/hero/hero-1.jpg")>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2024</h2>
                            <p class="text-dark">
                                Khám phá sự ấm áp hoàn hảo trong từng thiết kế, mang đến phong cách đẳng cấp cho những ngày đông lạnh giá.
                            </p>
                            <a href="/san-pham" class="site-btn btn">Shop now <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg=@Url.Content("~/Content/img/hero/hero-2.jpg")>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2024</h2>
                            <p>
                                Hòa mình vào không khí thu với những trang phục nhẹ nhàng, ấm áp, mang đậm dấu ấn phong cách riêng biệt.
                            </p>
                            <a href="/san-pham" class="site-btn btn">Shop now <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<section class="banner spad" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="~/Content/img/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2024</h2>
                        <a href="/san-pham">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/Content/img/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="/san-pham">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="~/Content/img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2024</h2>
                        <a href="/san-pham">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Sản phẩm</span>
                    <ul class="filter__controls">
                        <li class="filter-control-item active" data-filter="*">Hot sale</li>
                        <li class="filter-control-item" data-filter=".new-arrivals">Bán chạy🔥</li>
                        <li class="filter-control-item" data-filter=".hot-sales">Mới<img src="~/Content/img/icon/new.png" width="25%" /></li>
                    </ul>
                </div>
            </div>
        </div>
        @Html.Action("ProductHome", "Home")
    </div>
</section>
<!-- Product Section End -->
<!-- Latest Blog Section Begin -->
<section class="latest spad" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Tin tức mới</span>
                    <h2 style=" position: relative; left: 58px;">Fashion New Trends <span style="display: inline; position: relative; left: 288px;"><a href="/bai-viet">Xem tất cả</a></span></h2>
                </div>
            </div>
        </div>
        @Html.Action("BlogHome", "Home")
    </div>
</section>
<!-- Latest Blog Section End -->

<script>
    // Category add cart with AJAX
    $(document).on("click", "#add-to-cart", function (e) {
        e.preventDefault();
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            dataType: 'json',
            data: { id },
            success: function (res) {
                if (res.success) {
                    // Sau khi thêm thành công, cập nhật lại phần navbar
                    $(".header__nav__option").load("/Cart/Navbar");
                }
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    })
</script>