@model ShopOnline.Models.Invoince

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>@ViewBag.Title</h4>
                    <div class="breadcrumb__links">
                        <a href="/trang-chu">Trang chủ</a>
                        <a href="@Url.Action("MyOrder", "Home", new {memberId = Model.memberId})">Đơn hàng của tôi</a>
                        <span>@ViewBag.Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="container spad">
    <div class="row">
        <div class="col-lg-8">
            <div class="invoince__detail card">
                <h5 class="mb-3">ĐƠN HÀNG <span class="font-weight-bold theme-color">#@Model.invoinceId</span></h5>
                <div class="row">
                    <div class="col-6">
                        <p>Ngày đặt hàng: @Model.dateCreate</p>
                        <p>
                            Tình trạng đơn hàng:
                            @if (Model.status.Equals("pending"))
                            {
                                <b>Đợi xác nhận</b>
                            }
                            else if (Model.status.Equals("comfirmed"))
                            {
                                <b>Đã xác nhận</b>
                            }
                            else if (Model.status.Equals("shipping"))
                            {
                                <b>Đang vận chuyển</b>
                            }
                            else if (Model.status.Equals("completed"))
                            {
                                <b>Hoàn thành</b>
                            }
                            else if (Model.status.Equals("cancelled"))
                            {
                                <b>Đã hủy</b>
                            }
                        </p>
                    </div>
                    <div class="col-6 text-right">
                        @if (Model.paymentMethod.Equals("vnpay") && !Model.paymentStatus.Equals("paid"))
                        {
                            <a href="@Url.Action("CreatePaymentUrl", "Payment", new { invoinceId = Model.invoinceId })" class="btn site-btn">Thanh toán</a>
                        }
                        else
                        {
                            <button class="btn outline-btn" disabled>Đã thanh toán</button>
                        }
                        @if (!Model.status.Equals("completed") && !Model.status.Equals("cancelled") && !Model.paymentStatus.Equals("paid"))
                        {
                            <a href="@Url.Action("Cancel", "Home", new { id = Model.invoinceId})" class="btn outline-btn" onclick="return confirm('Are you sure you want to cancel this order?')">Hủy</a>
                        }
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Sản phẩm</th>
                            <th scope="col" class="text-center">Số lượng</th>
                            <th scope="col" class="text-center">Đơn giá</th>
                            <th scope="col" class="text-center">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 1, total = 0, totaldiscount = 0, totalprice = 0; }
                        @foreach (var i in Model.InvoinceDetails)
                        {
                            <tr>
                                <td width="400px">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src=@Url.Content("" + i.Product.image) width="80%" />
                                        </div>
                                        <div class="col-md-9 d-flex align-items-center">
                                            @i.Product.productName
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center align-middle">@i.quanlity</td>
                                <td class="text-center align-middle">@String.Format("{0:0,0}", i.price) ₫</td>
                                <td class="text-center align-middle">@String.Format("{0:0,0}", i.price * i.quanlity) ₫</td>
                            </tr>
                            stt++;
                            total += (int)i.price * (int)i.quanlity;
                            totaldiscount += (int)i.discount;
                        }
                        @{ totalprice = total + totaldiscount; }
                    </tbody>
                </table>

                <hr /> <br />
                <div class="row justify-content-end">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8 text-right">
                                <span>Tổng cộng:</span><br />
                                <span>Vận chuyển:</span><br />
                                <span>Giảm giá: </span><br />
                                <span style="color: #ff2c2c;"><b>Thanh toán:</b></span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span>@String.Format("{0:0,0}", totalprice) ₫</span><br />
                                <span>@String.Format("{0:0,0}", 0) ₫</span><br />
                                <span>@String.Format("{0:0,0}", -totaldiscount) ₫</span><br />
                                <span>@String.Format("{0:0,0}", total) ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
            <div class="invoince__detail card">
                <h4 class="mb-3"><img src="/Content/img/icon/place.png" style="width:10%;" alt=""> Thông tin giao hàng</h4>
                <p style="margin: 0">
                    <b>
                        @Model.Member.firstName<span> </span>@Model.Member.lastName
                    </b>
                </p>
                <p style="margin: 0">
                    @Model.Member.phone
                </p>
                <p style="margin: 0">
                    @Model.Member.address
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    var obj = document.querySelector(".navbar li:nth-child(1)");
    obj.classList.remove("active");
</script>
