@model List<ShopOnline.Models.Slide>

@if (Model.Count > 0)
{
    <div class="hero__items set-bg" data-setbg=@Url.Content(Model[0].image)>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-5 col-lg-7 col-md-8">
                    <div class="hero__text text-right">
                        <h6 class="text-uppercase">@Model[0].subtitle</h6>
                        <h2>@Model[0].title</h2>
                        <p>@Model[0].description</p>
                        <a href="/san-pham" class="site-btn btn">Shop now <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.Count > 1)
    {
        <div class="hero__items set-bg" data-setbg=@Url.Content(Model[1].image)>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6 class="text-uppercase">@Model[1].subtitle</h6>
                            <h2>@Model[1].title</h2>
                            <p>@Model[1].description</p>
                            <a href="/san-pham" class="light-btn btn">Shop now <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}