@model ShopOnline.Models.Invoince
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán thành công</title>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="~/Content/img/icon/favicon.png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/formUser.css" type="text/css" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="container-fluid info" style="height:100vh;">
        <div class="signinBx payment-return">
            <div class="text-center"><img src="~/Content/img/logo.png" alt="" style="max-width:40%;"></div>
            <h4>FashionStore</h4>
            <p>19 Đ. Nguyễn Hữu Thọ, Quận 7</p>
            <p>Hotline: +84 338 650 639</p>
            <h4 class="theme-color mb-3">PHIẾU TÍNH TIỀN</h4>          
            <table class="w-100">
                <tr>
                    <td>Tên khách hàng: @Model.Member.firstName @Model.Member.lastName</td>
                    <td>Mã giao dịch: <b>@Model.transactionId</b></td>
                </tr>
                <tr>
                    @{
                        DateTime payDate;
                        DateTime.TryParseExact(ViewBag.times, "yyyyMMddHHmmss", null, System.Globalization.DateTimeStyles.None, out payDate);
                    }
                    <td>Ngày: @payDate.ToString("dd/MM/yyyy")</td>
                    <td>Giờ: @payDate.ToString("HH:mm")</td>
                </tr>
            </table>
            <div class="mb-3">
                <hr class="new1">
            </div>
            <table class="w-100">
                <tr>
                    <th>Tên sản phẩm</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-right">Giá</th>
                </tr>
                @foreach (var i in Model.InvoinceDetails)
                {
                    <tr>
                        <td>@i.Product.productName</td>
                        <td class="text-center">@i.quanlity</td>
                        <td class="text-right">@String.Format("{0:N0}", @i.price) ₫</td>
                    </tr>
                }
                <tr style="border-bottom: 2px dashed rgb(214, 200, 200);">
                    <td colspan="3" class="pt-3"></td>
                </tr>
                <tr>
                    <td>Tổng cộng</td>
                    <td class="text-center">@Model.InvoinceDetails.Sum(detail => detail.quanlity)</td>
                    <td class="text-right">@String.Format("{0:N0}", Model.totalMoney + Model.InvoinceDetails.Sum(detail => detail.discount)) ₫</td>
                </tr>
                <tr>
                    <td colspan="2">Giảm giá</td>
                    <td class="text-right">@String.Format("{0:N0}", Model.InvoinceDetails.Sum(detail => detail.discount)) ₫</td>
                </tr>
                <tr>
                    <td colspan="2">Vận chuyển</td>
                    <td class="text-right">0 ₫</td>
                </tr>
                <tr style="border-top: 2px dashed rgb(214, 200, 200);">
                    <td colspan="2"><b>Thanh toán</b></td>
                    <td class="text-right"><b>@String.Format("{0:N0}", Model.totalMoney) ₫</b></td>
                </tr>
            </table>
            <div class="text-center mt-4"> <a href="/trang-chu" class="btn outline-btn">Back to shop</a></div>
        </div> 
    </div>
    <script src="~/Content/js/jquery-3.7.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>