@using System.Web.Optimization;
<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/Admin/Content/assets/images/favicon.png">
    <title>Login</title>

    <!-- Custom CSS -->
    @Styles.Render("~/bundles/admin/login/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://www.google.com/recaptcha/api.js?render=6LcwOrIqAAAAABgzNqIKLwBNnL9oNXltz63sLozY"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background: url( @Url.Content("~/Areas/Admin/Content/assets/images/background/pexels-luis-gomes-546819.jpg") ) no-repeat center center; background-size: cover;">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="border-top-left-radius:5px; border-bottom-left-radius:5px; background-image: url(@Url.Content("~/Areas/Admin/Content/assets/images/pexels-pixabay-459654.jpg"));">
                </div>
                <div class="col-lg-5 col-md-7 bg-white" style="border-top-right-radius:5px; border-bottom-right-radius:5px;">
                    <div class="p-3">
                        <div class="text-center">
                            <img src=@Url.Content("/Areas/Admin/Content/assets/images/logo-icon.png") alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center text-dark">SIGN IN</h2>
                        <p class="text-center">Enter your username and password to access admin panel.</p>
                        @using (Html.BeginForm("Login", "LoginMember", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data", @class = "form mt-4" }))
                        {
                            @Html.AntiForgeryToken()
                            if (TempData["msgFailed"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    @TempData["msgFailed"]
                                </div>
                            }                            

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="uname">Username</label>
                                        <input type="text" id="username" name="username" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="pwd">Password</label>
                                        <input type="password" id="password" name="password" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="form-group">
                                        <input type="hidden" id="recaptchaToken" name="recaptchaToken" />
                                        <button class="g-recaptcha btn btn-block btn-primary" type="submit">
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/admin/login/js")
    <script>
        $(".preloader ").fadeOut();
    </script>
    <script src="~/Content/js/validator.js"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcwOrIqAAAAABgzNqIKLwBNnL9oNXltz63sLozY', { action: 'SignIn' }).then(function (token) {
                // Gửi token vào input hidden để server xử lý
                document.getElementById('recaptchaToken').value = token;
            });
        });

        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#username', 'Enter your username'),
                Validator.isRequired('#password', 'Enter your password'),
                //Validator.isReCaptchaValid('.g-recaptcha', 'Vui lòng xác nhận reCAPTCHA.')
            ],
        });
    </script>
</body>

</html>
