@model ShopOnline.Models.Member
@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

<div class="container info spad">
    <div class="singinBx">
        @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @id = "form-1" }))
        {
            @Html.AntiForgeryToken()
            @*@Html.HiddenFor(model => model.birthday)*@

            <div class="form-group">
                <h2>@ViewBag.Title</h2>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="d-flex justify-content-between">
                <div class="form-group mr-2">
                    <input type="text" name="firstName" id="firstname" placeholder="Họ" />
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" id="lastname" placeholder="Tên" />
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                    <span class="form-message"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Mật khẩu" />
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <input type="password" name="comfirm" id="password_confirmation" placeholder="Nhập lại mật khẩu" />
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <input type="number" name="phone" id="phone" placeholder="Số điện thoại" />
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <input type="text" name="email" id="email" placeholder="Email" />
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <p class="signup">
                    Bằng việc đăng ký, bạn đã đồng ý với FashionStore về
                    <a href="">Điều khoản dịch vụ</a>  &  <a href="">Chính sách bảo mật</a>
                </p>
                <button type="submit" class="btn-submitForm site-btn">Đăng ký</button>
            </div>
            <p class="signup text-uppercase">Bạn đã có tài khoản ? <a href="@Url.Action("SignIn", "User")">Đăng nhập.</a></p>
        }
    </div>
</div>

<script>
    var obj = document.querySelector(".navlist li:nth-child(1)");
    obj.classList.remove("active");
</script>
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#firstname'),
            Validator.isRequired('#lastname'),
            Validator.isRequired('#password'),
            Validator.isRequired('#phone'),
            Validator.isEmail('#email'),
            Validator.minLength('#password', 6),
            Validator.isRequired('#password_confirmation'),
            Validator.isConfirmed('#password_confirmation', function () {
                return document.querySelector('#form-1 #password').value;
            }, 'Mật khẩu không khớp.')
        ],
    });
</script>