@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

@*@if (TempData["msgFailed"] != null)
{
    <script>
        showToast({
            type: "danger",
            message: "@TempData["msgFailed"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}*@
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
         showToast({
             type: "info",
             message: "@ViewBag.Message.ToString().Replace("\"", "\\\"")"
         });
    </script>
}

<div class="container info">
    <div class="signinBx">
        @using (Html.BeginForm("SignIn", "User", FormMethod.Post, new { @id = "form-1" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <h2>@ViewBag.Title</h2>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa-regular fa-user"></i></div>
                    </div>
                    <input id="username" name="username" type="text" placeholder="Số điện thoại/ Email">
                </div>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                    </div>
                <input id="password" name="password" type="password" placeholder="Mật khẩu">
                </div>
                <span class="form-message"></span>
            </div>
            <div class="form-group signup">
                <a href="">Quên mật khẩu ?</a>
            </div>
            <div class="form-group">
                <input type="hidden" id="recaptchaToken" name="recaptchaToken" />
                <button class="btn site-btn w-100" type="submit">
                    Đăng nhập
                </button>
            </div>

            <p class="signup text-uppercase text-center">Bạn chưa có tài khoản ? <a href="@Url.Action("Register", "User")">Đăng ký.</a></p>
        }
    </div>
</div>

<script>
    var obj = document.querySelector(".navbar li:nth-child(1)");
    obj.classList.remove("active");
</script>
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#username'),
            Validator.isRequired('#password')
        ],
        onSubmit: function (formData) {
            // formData là object chứa dữ liệu hợp lệ
            var form = $("#form-1"); // jQuery object
                                
            grecaptcha.ready(function () {
                grecaptcha.execute('6LcwOrIqAAAAABgzNqIKLwBNnL9oNXltz63sLozY', { action: 'SignIn' })
                    .then(function (token) {
                        formData.recaptchaToken = token;

                        $.ajax({
                            url: form.attr("action"),
                            type: form.attr("method"),
                            data: formData,
                            success: function (res) {
                                if (res.success) {
                                    showToast({
                                        type: "success",
                                        message: res.message
                                    });
                                } else {
                                    showToast({
                                        type: "danger",
                                        message: res.message
                                    });
                                }
                                if (res.redirectUrl) {
                                    setTimeout(function () {
                                        window.location.href = res.redirectUrl;
                                    }, 800); // delay 800ms để toast xuất hiện
                                }
                            }
                        });
                    });
            });
        }
    });
</script>