@using ShopOnline.Models
@model IEnumerable<Invoince>
@{
    ViewBag.Title = "Invoince";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBoard.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Orders manage</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="~/Admin/DashBoard/Index">Dash board</a></li>
                        <li class="breadcrumb-item active">Orders list</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                    <option selected>Nov 25</option>
                    <option value="1">Oct 25</option>
                    <option value="2">Sep 25</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <h3 class="text-dark text-uppercase card-title">Orders</h3>
    @if (TempData["Delivery"] != null)
    {
        <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["Delivery"]
        </div>
    }
    @if (TempData["DeleteOrder"] != null)
    {
        <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["DeleteOrder"]
        </div>
    }
    <hr />

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">Order Id</th>
                    <th class="text-center">Order Date</th>
                    <th class="text-center">Total Money</th>
                    <th class="text-center">Payment Method</th>
                    <th class="text-center">Payment Status</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" width="250px">Feature</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr class="text-center">
                        <td class="font-weight-medium">
                            <a href="@Url.Action("InvoinceDetail", "CRUDinvoince", new { invoinceNo = i.invoinceId})">#@i.invoinceId</a>
                        </td>
                        <td class="text-muted">
                            @String.Format("{0:dd/MM/yyyy}", i.dateCreate)
                        </td>
                        <td>
                            @String.Format("{0:N0}", i.totalMoney) ₫
                        </td>
                        <td>
                            @if (i.paymentMethod.Equals("cash"))
                            {
                                <img src="~/Content/img/icon/cash.png" alt="cash" width="24">
                            }
                            else if (i.paymentMethod.Equals("vnpay"))
                            {
                                <img src="~/Content/img/icon/vnpay.ico" alt="vnpay" width="24">
                            }
                        </td>
                        <td>
                            @if (i.paymentStatus.Equals("pending"))
                            {
                                <span class="badge badge-warning">@i.paymentStatus</span>
                            }
                            else if (i.paymentStatus.Equals("paid"))
                            {
                                <span class="badge badge-success">@i.paymentStatus</span>
                            }
                            else if (i.paymentStatus.Equals("failed"))
                            {
                                <span class="badge badge-danger">@i.paymentStatus</span>
                            }
                        </td>
                        <td>
                            @if (i.status.Equals("pending"))
                            {
                                <span class="badge badge-warning">@i.status</span>
                            }
                            else if (i.status.Equals("comfirmed"))
                            {
                                <span class="badge badge-info">@i.status</span>
                            }
                            else if (i.status.Equals("shipping"))
                            {
                                <span class="badge badge-primary">@i.status</span>
                            }
                            else if (i.status.Equals("completed"))
                            {
                                <span class="badge badge-success">@i.status</span>
                            }
                            else if (i.status.Equals("cancelled"))
                            {
                                <span class="badge badge-secondary">@i.status</span>
                            }
                        </td>
                        <td class="text-right">
                            @if (i.status.Equals("pending"))
                            {<a href="@Url.Action("Comfirmed", "CRUDinvoince", new { id = i.invoinceId})" class="btn btn-info">Comfirmed</a>}
                            else if (i.status.Equals("comfirmed"))
                            {<a href="@Url.Action("Shipping", "CRUDinvoince", new { id = i.invoinceId})" class="btn btn-primary">Shipping</a>}
                            else if (i.status.Equals("shipping"))
                            {<a href="@Url.Action("Completed", "CRUDinvoince", new { id = i.invoinceId})" class="btn btn-success">Completed</a>}
                            @if (!i.status.Equals("completed") && !i.status.Equals("cancelled") && !i.paymentStatus.Equals("paid"))
                            {<a href="@Url.Action("Cancel", "CRUDinvoince", new { id = i.invoinceId })" class="btn btn-light" onclick="return confirm('Are you sure you want to cancel this?')">Cancel</a>}
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        dataTable = $('.table').DataTable($.extend(true, {}, defaultDataTableSettings, {
            ordering: false
        }));
    });
</script>
