@model ShopOnline.Models.Invoince

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hóa đơn</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
</head>
<body style="font-size: 120%;">
    <div class="card">
        <div class="card-body">
            <div class="text-center"><img src="~/Content/img/logo.png" alt="" style="max-width:40%;"></div>
            <h4 class="mt-3 text-center">FashionStore</h4>
            <p class="text-center m-0">19 Đ. Nguyễn Hữu Thọ, Quận 7</p>
            <h4 class="theme-color mb-5 text-center">Thanks for your order</h4>
            <span class="theme-color">Payment Summary <img src="~/Content/img/icon/checked.png" alt="" style="width: 5%;"></span>
            <table class="w-100">
                <tr>
                    <td>Tên khách hàng: @Model.Member.firstName @Model.Member.lastName</td>
                    <td>Mã giao dịch: <b>@Model.transactionId</b></td>
                </tr>
                <tr>
                    @{
                        DateTime payDate = DateTime.Now;
                    }
                    <td>Ngày: @payDate.ToString("dd/MM/yyyy")</td>
                    <td>Giờ: @payDate.ToString("HH:mm")</td>
                </tr>
            </table>
            <div class="mb-3">
                <hr class="new1">
            </div>
            <table class="w-100">
                <tr>
                    <th>Tên sản phẩm</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-right">Giá</th>
                </tr>
                @foreach (var i in Model.InvoinceDetails)
                {
                    <tr>
                        <td>@i.Product.productName</td>
                        <td class="text-center">@i.quanlity</td>
                        <td class="text-right">@String.Format("{0:N0}", @i.price) ₫</td>
                    </tr>
                }
                <tr style="border-bottom: 2px dashed rgb(214, 200, 200);">
                    <td colspan="3" class="pt-3"></td>
                </tr>
                <tr>
                    <td>Tổng cộng</td>
                    <td class="text-center">@Model.InvoinceDetails.Sum(detail => detail.quanlity)</td>
                    <td class="text-right">@String.Format("{0:N0}", Model.totalMoney + Model.InvoinceDetails.Sum(detail => detail.discount)) ₫</td>
                </tr>
                <tr>
                    <td colspan="2">Giảm giá</td>
                    <td class="text-right">@String.Format("{0:N0}", Model.InvoinceDetails.Sum(detail => detail.discount)) ₫</td>
                </tr>
                <tr>
                    <td colspan="2">Vận chuyển</td>
                    <td class="text-right">0 ₫</td>
                </tr>
                <tr style="border-top: 2px dashed rgb(214, 200, 200);">
                    <td colspan="2"><b>Thanh toán</b></td>
                    <td class="text-right"><b>@String.Format("{0:N0}", Model.totalMoney) ₫</b></td>
                </tr>
            </table>
            <table class="w-100">
                <tr>
                    <td>
                        <span>Giá sản phẩm đã bao gồm VAT 8%. Hóa đơn GTGT chỉ xuất tại thời điểm thanh toán. Nếu bạn cần xuất hóa đơn, hãy quét QR code hoặc truy cập website https://localhost:44325/</span>
                        <br /><span>Mọi thắc mắc xin liên hệ +84 338 650 639</span>
                    </td>
                    <td><img src="~/Content/img/Orders/process-check.png" alt="" /></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>