@using System.Web.Optimization
@using ShopOnline.Models
@{
    Member user = (Member)Session["info"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Cho phép công cụ tìm kiếm lập chỉ mục và theo dõi các liên kết.-->
    <meta name="robots" content="index, follow">
    <meta name="author" content="FashionStore">
    <meta name="copyright" content="FashionStore">

    <!-- Primary Meta Tags -->
    <title>@ViewBag.Title - FashionStore</title>
    <meta name="title" content="Fashion Store - By Style, Be You" />
    <meta name="description" content="Thời trang hiện đại, lịch lãm, cập nhật xu hướng – quần áo, giày dép, túi xách và phụ kiện cao cấp dành cho quý ông. Mua ngay." />
    <meta name="keywords" content="Male Fashion, FashionStore, Fashion Store">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://localhost:44325" />
    <meta property="og:title" content="Fashion Store - By Style, Be You" />
    <meta property="og:description" content="Thời trang hiện đại, lịch lãm, cập nhật xu hướng – quần áo, giày dép, túi xách và phụ kiện cao cấp dành cho quý ông. Mua ngay." />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://localhost:44325" />
    <meta property="twitter:title" content="Fashion Store - By Style, Be You" />
    <meta property="twitter:description" content="Thời trang hiện đại, lịch lãm, cập nhật xu hướng – quần áo, giày dép, túi xách và phụ kiện cao cấp dành cho quý ông. Mua ngay." />
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="~/Content/img/icon/favicon.png" />
    <!-- Css Styles -->
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/js/toast-message.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcwOrIqAAAAABgzNqIKLwBNnL9oNXltz63sLozY"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Alert - Toast Message -->
    <div id="alert-toast"></div>
    <!-- Offcanvas Menu Begin/ Mobile Menu -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/dang-nhap">Đăng nhập</a>
                <a href="#">FAQs</a>e
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#"><i class="fa-regular fa-heart"></i></a>
            <a href="~/Cart/Cart"><i class="fa-solid fa-bag-shopping fa-lg"></i><span>@ViewBag.quanlityItem</span></a>
            <div class="price">$ @ViewBag.totalPrice</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                @Html.Action("Index", "Menus")

                <div class="col-lg-3 col-md-3 my-auto">                
                    @Html.Action("Navbar", "Cart")
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="~/Content/img/footer-logo.png" alt="Footer logo"></a>
                        </div>
                        <p>Khách hàng – nguồn cảm hứng cho mô hình kinh doanh và thiết kế sáng tạo của chúng tôi.</p>
                        <a href="#"><img src="~/Content/img/vnpay.svg" alt="" style="width:90%;"></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Về chúng tôi</h6>
                        <ul>
                            <li><a href="/trang-chu">Trang chủ</a></li>
                            <li><a href="/san-pham">Sản phẩm</a></li>
                            <li><a href="/bai-viet">Tin tức</a></li>
                            <li><a href="/lien-he">Liên hệ</a></li>
                            <li><a href="/ve-chung-toi">Giới thiệu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Chăm sóc khách hàng</h6>
                        <ul>
                            <li><a href="#">Chính sách bảo hành</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách thanh toán</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Kết nối với chúng tôi</h6>
                        <div class="pb-3">
                            <a href="https://www.facebook.com/">
                                <img src="~/Content/img/icon/facebook.png" style="width:15%;" alt="">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img src="~/Content/img/icon/instagram.png" style="width:15%;" alt="">
                            </a>
                            <a href="https://www.youtube.com/">
                                <img src="~/Content/img/icon/youtube.png" style="width:15%;" alt="">
                            </a>
                        </div>
                        <div class="footer__newslatter">
                            <p>Cập nhật ngay sản phẩm mới, ưu đãi và khuyến mãi đặc biệt!</p>
                            <form action="#">
                                <input type="text" placeholder="Email của bạn">
                                <button type="submit"><img src="~/Content/img/icon/send.png" style="width:80%;" alt="" /></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Fashion Store
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    @Scripts.Render("~/bundles/js")
    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/User/LogOut";
    }
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>