@model ShopOnline.Models.Product
<div class="product__item sale">
    <div class="product__item__pic set-bg card" data-setbg=@Url.Content("" + Model.image)>
        @if (Model.discount != 0)
        {
            <span class="label">Sale</span>
        }
        <ul class="product__hover">
            <li><a href="#"><img src="~/Content/img/icon/heart.png" style="width:40%;" alt=""><span>Yêu thích</span></a></li>
            <li><a href="#"><img src="~/Content/img/icon/compare.png" style="width:40%;" alt=""><span>So sánh</span></a></li>
            <li><a href="#"><img src="~/Content/img/icon/search.png" style="width:40%;" alt=""><span>Chi tiết</span></a></li>
        </ul>
    </div>
    <div class="product__item__text">
        <h6>
            <a href="@Url.Action("ProductDetail", "Shop", new { meta = Model.meta, 
                                                                id = (CSharpVitamins.ShortGuid)Model.productId})" 
               class="product__item__name">@Model.productName</a>
        </h6>
        <a href="@Url.Action("AddToCart", "Cart", new { id = Model.productId, strURL = Request.Url.ToString() })" 
           class="add-cart">+ Thêm vào giỏ</a>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <h5>
            @if (Model.discount != 0)
            {
                var giaDaGiam = Model.price - ((Model.price * Model.discount) / 100);
                @String.Format("{0:#,0}", giaDaGiam)
                <span class="discount-price">@String.Format("{0:#,0}", Model.price)</span>
            }
            else
            {
                @String.Format("{0:#,0}", Model.price)
            }
        </h5>
        <div class="product__color__select">
            <label for="pc-7">
                <input type="radio" id="pc-7">
            </label>
            <label class="active black" for="pc-8">
                <input type="radio" id="pc-8">
            </label>
            <label class="grey" for="pc-9">
                <input type="radio" id="pc-9">
            </label>
        </div>
    </div>
</div>
