@model IEnumerable<ShopOnline.Models.Menu>

@{
    ViewBag.Title = "Index";
}
<div class="col-lg-3 col-md-3">
    <div class="header__logo">
        <a href="/@Model.ElementAt(0).meta"><img src="~/Content/img/logo.png" alt=""></a>
    </div>
</div>
<div class="col-lg-6 col-md-6 my-auto">
    <nav class="navbar header__menu mobile-menu">
        <ul>

            @{
                foreach (var i in Model)
                {
                    if (i.meta == "san-pham")
                    {
                        <li class="nav-item dropdown" data-value="@i.meta">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @i.name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">                                
                                @Html.Action("Categories", "Menus")
                            </div>
                        </li>
                    }
                    else
                    {
                        if (i.order == 1)
                        {
                            <li class="nav-item active" data-value="@i.meta"><a class="nav-link" href="/@i.meta">@i.name</a></li>
                        }
                        else
                        {
                            <li class="nav-item" data-value="@i.meta"><a class="nav-link" href="/@i.meta">@i.name</a></li>
                        }
                    }
                }
            }
        </ul>
    </nav>
</div>
