@model ShopOnline.Models.Member
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBoard.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Manager my account!</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="~/Admin/DashBoard/Index">Dashboard</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                    <option selected>Nov 25</option>
                    <option value="1">Oct 25</option>
                    <option value="2">Sep 25</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-pills" role="tablist">
                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="pill" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
                            <a class="nav-item nav-link" id="nav-password-tab" data-toggle="pill" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false">Change Password</a>
                        </div>
                    </nav>
                    <div class="tab-content mt-4">
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            @using (Html.BeginForm("EditProfile", "DashBoard", FormMethod.Post, new { @id = "form-1" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "form-message" })
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src=@Url.Content(Model.avatar) id="imagePreview" alt="image" style="width: 290px; max-width: 100%; height: 290px; border-radius: 50%; object-fit: cover;">
                                            <input type="file" name="uploadFile" class="form-control-file" id="avatarInput" accept="image/jpeg, image/png" />
                                        </div>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.dateCreate)
                                            @Html.HiddenFor(model => model.status)
                                            @Html.HiddenFor(model => model.roleId)
                                            @Html.HiddenFor(model => model.password)
                                            @Html.HiddenFor(model => model.memberId)

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="productName">First name</label>
                                                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @id = "firstName" } })
                                                        <span class="form-message"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="productName">Last name</label>
                                                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @id = "lastName" } })
                                                        <span class="form-message"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="productName">Birthday</label>
                                                        @Html.TextBoxFor(model => model.birthday, new { @class = "form-control", @type = "date", @id = "birthday", @Value = Model.birthday.HasValue ? Model.birthday.Value.ToString("yyyy-MM-dd") : "" })
                                                        <span class="form-message"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="productName">Phone</label>
                                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @id = "phone" } })
                                                        <span class="form-message"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="productName">Email</label>
                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @id = "email" } })
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="productName">Address</label>
                                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @id = "address" } })
                                                <span class="form-message"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="text-right">
                                        <button type="submit" id="btnEditProfile" class="btn btn-info">Save changes</button>
                                        <button type="reset" class="btn btn-dark">Reset</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                            @using (Html.BeginForm("ChangePassword", "DashBoard", FormMethod.Post, new { @id = "form-2", @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "form-message" })
                                <div class="form-body">
                                    @*set id rỗng để k bị trùng với id của editfor ở trên*@
                                    @Html.HiddenFor(model => model.dateCreate, new { id = "" })
                                    @Html.HiddenFor(model => model.status, new { id = "" })
                                    @Html.HiddenFor(model => model.roleId, new { id = "" })
                                    @Html.HiddenFor(model => model.memberId, new { id = "" })
                                    @Html.HiddenFor(model => model.firstName, new { id = "" })
                                    @Html.HiddenFor(model => model.lastName, new { id = "" })
                                    @Html.HiddenFor(model => model.email, new { id = "" })
                                    @Html.HiddenFor(model => model.phone, new { id = "" })
                                    @Html.HiddenFor(model => model.address, new { id = "" })
                                    @Html.HiddenFor(model => model.birthday, new { id = "" })
                                    @Html.HiddenFor(model => model.avatar, new { id = "" })

                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="userName">Current password</label>
                                                <input type="password" class="form-control" id="current-password" name="CurPassword" />
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="productName">New password</label>
                                                <input type="password" class="form-control" id="new-password" name="NewPassword" />
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="productName">Confirm password</label>
                                                <input type="password" class="form-control" id="password_confirmation" name="Confirm" />
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" id="btnChangePassword" class="btn btn-info">Save changes</button>
                                                <button type="reset" class="btn btn-dark">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal crop image -->
<div class="modal fade" id="modal" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0" style="color:#0e1822;">
                <h4 class="modal-title">Update avatar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div style="width:70vh; height:70vh;">
                    <img id="image" style="max-width:100%; display:block;">
                </div>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button type="button" data-dismiss="modal" class="btn btn-dark">Cancel</button>
                <button id="btnCrop" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#firstName'),
            Validator.isRequired('#lastName'),
            Validator.isEmail('#email'),
            Validator.isDate('#birthday'),
            Validator.isRequired('#phone'),
            Validator.isRequired('#address'),
        ],
    });

    Validator({
        form: '#form-2',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [

            Validator.isRequired('#current-password'),
            Validator.minLength('#new-password', 6),
            Validator.isConfirmed('#password_confirmation', function () {
                return document.querySelector('#form-2 #new-password').value;
            }, 'Mật khẩu không khớp')
        ],
    });

    $(function () {
        var $input = $('#avatarInput');
        var $image = $('#image');

        var $modal = $('#modal');
        var cropper;

        // 👉 Khi chọn file
        $input.on('change', function (e) {
            var files = e.target.files;

            if (files && files.length > 0) {
                var file = files[0];

                // tạo URL tạm để preview
                var url = URL.createObjectURL(file);

                $image.css('opacity', 0);
                // gán vào img
                $image.attr('src', url);

                $modal.modal('show');
            }
        });

        // 👉 Khi modal hiển thị -> init cropper
        $modal.on('shown.bs.modal', function () {
            cropper = new Cropper($image[0], {
                viewMode: 3,
                dragMode: 'move',
                aspectRatio: 1,   // vuông
                autoCrop: true,
                ready: function () {
                    $image.css('opacity', 1);
                }
            });
        });

        // 👉 Khi đóng modal -> destroy cropper
        $modal.on('hidden.bs.modal', function () {
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }

            $input.val('');
        });

        $("#btnCrop").on('click', function () {
            $(this).prop('disabled', true);
            var canvas = cropper.getCroppedCanvas({
                width: 300,
                height: 300
            });

            canvas.toBlob(function (blob) {
                var formData = new FormData();
                formData.append('uploadFile', blob);

                $.ajax({
                    url: '@Url.Action("UpdateAvatar", "DashBoard")',
                    type: 'post',
                    dataType: 'json',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.success) {
                            // Sau khi thêm thành công, cập nhật lại phần navbar
                            //$(".header__nav__option").load("/Cart/Navbar");
                            $("#imagePreview").attr('src', res.avatarUrl);

                            showToast({
                                type: "success",
                                message: res.message,
                                language: "vn"
                            });

                            $modal.modal('hide');
                        }
                    }
                });
            }, 'image/jpeg');

            $(this).prop('disabled', false);
        });
    });

    // Submit form (Edit Profile)
    $(document).on('keydown', '#form-1', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault();

            // ✅ Tạo FormData để gửi cả text và file
            var form = $("#form-1"); // lấy phần tử DOM gốc, không phải đối tượng jQuery            
            handleSubmit(form, form.serialize());
        }
    });

    $('#btnEditProfile').on('click', function (e) {
        e.preventDefault();

        var form = $("#form-1");
        handleSubmit(form, form.serialize());
    });

    // Submit form (Change Password)
    $(document).on('keydown', '#form-2', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault();

            var form = $("#form-2");
            handleSubmit(form, form.serialize());
        }
    });

    $('#btnChangePassword').on('click', function (e) {
        e.preventDefault();

        // ✅ Tạo FormData để gửi cả text và file
        var form = $("#form-2")[0];
        var formData = new FormData(form);
        handleSubmit(form, formData);
    });

    function handleSubmit(form, formData) {
        $.ajax({
            url: $(form).attr("action"),
            type: $(form).attr("method"),
            dataType: "json",
            data: formData,
            processData: false, // ❗ không xử lý dữ liệu (để giữ nguyên dạng FormData)
            contentType: false, // ❗ để browser tự set Content-Type (multipart/form-data)
            success: function (res) {
                if (res.success) {
                    showToast({
                        type: "success",
                        message: res.msg,
                        language: "en"
                    });

                    $(form)[0].reset();
                } else {
                    showToast({
                        type: "danger",
                        message: res.msg,
                        language: "en"
                    });
                }
            },
            error: function (err) {
                console.log(err.responseText);
            },
        });
    }
</script>