@model ShopOnline.Models.Menu

@using (Html.BeginForm("Edit", "CRUDmenus", FormMethod.Post, new { @id = "form-1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "form-message" })
    <div class="form-body">
        @Html.HiddenFor(model => model.menuId)
        @Html.HiddenFor(model => model.dateCreate)
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="menuName">Menu name</label>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "menuName" } })
                    <span class="form-message"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="order">Order</label>
                    @*@Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control", @id = "order" } })*@
                    @Html.DropDownListFor(model => model.order,
                        (SelectList)ViewBag.AvailableOrders,
                        new { @class = "form-control" })
                    <span class="form-message"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="meta">Meta</label>
                    @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control", @id = "meta", @readonly = "true" } })
                    <span class="form-message"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status">Public</label>
                    @{
                        bool status = (Model.status.GetValueOrDefault(false) ? true : false);
                    }
                    @Html.CheckBoxFor(model => status, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Content/js/validator.js"></script>
<script src="~/Areas/Admin/Content/js/helper.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#menuName'),
            Validator.isRequired('#meta'),
            //Validator.isRequired('#order')
        ],
    });

    //$(document).on('input', '#menuName', function () {
    //    const menuName = $(this);
    //    const meta = $('#meta');

    //    if (meta.length) {
    //        meta.val(cleanText(menuName.val()));

    //        // Kích hoạt lại sự kiện input để Validator bắt được thay đổi
    //        meta.trigger('input');
    //    }
    //});
</script>