@using ShopOnline.Models
@model List<ProductCategory>
@{
    var currentMeta = ViewContext.RouteData.Values["meta"] as string ?? "";
}

<li class="category-item @(String.IsNullOrEmpty(currentMeta) ? "active" : "")" data-meta="">
    <a href="@Url.Action("Shop", "Shop", new { meta ="" })">Tất cả sản phẩm</a>
</li>
@foreach (var i in Model)
{
    <li class="category-item @(i.meta == currentMeta ? "active" : "")" data-meta="@i.meta">
        <a href="@Url.Action("Shop", "Shop", new { meta = i.meta })">@i.categoryName</a>
    </li>
}
