@using ShopOnline.Models
@model List<ProductCategory>
@{
    string currentMeta = ViewContext.RouteData.Values["meta"] as string;
    var isActive = string.IsNullOrEmpty(currentMeta) ? "active" : "";
}

<li class="@isActive"><a href="@Url.Action("Shop", "Shop", new { meta ="" })">Tất cả sản phẩm</a></li>
@foreach (var i in Model)
{
    <li class="@(i.meta == currentMeta ? "active" : "")"><a href="@Url.Action("Shop", "Shop", new { meta = i.meta })">@i.categoryName</a></li>
}
