@using ShopOnline.Models
@model List<ProductCategory>
@{
    var currentMeta = ViewContext.RouteData.Values["meta"] as string ?? "";
    string currentPrice = Request.QueryString["price"];
}

<li class="price-item @(currentPrice == "0-100000" ? "active" : "")" data-price="0-100000">
    @Html.ActionLink("< 100,000₫", "Shop", new { meta=currentMeta, price = "0-100000" })
</li>
<li class="price-item @(currentPrice == "100000-250000" ? "active" : "")" data-price="100000-250000">
    @Html.ActionLink("100,000₫ - 250,000₫", "Shop", new { meta = currentMeta, price = "100000-250000" })
</li>
<li class="price-item @(currentPrice == "250000-500000" ? "active" : "")" data-price="250000-500000">
    @Html.ActionLink("250,000₫ - 500,000₫", "Shop", new { meta = currentMeta, price = "250000-500000" })
</li>
<li class="price-item @(currentPrice == "500000-1000000" ? "active" : "")" data-price="500000-1000000">
    @Html.ActionLink("500,000₫ - 1,000,000₫", "Shop", new { meta = currentMeta, price = "500000-1000000" })
</li>
<li class="price-item @(currentPrice == "1000000-" ? "active" : "")" data-price="1000000-">
    @Html.ActionLink("> 1,000,000₫", "Shop", new { meta = currentMeta, price = "1000000-" })
</li>
