@using ShopOnline.Models
@model List<Cart>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>@ViewBag.Title</h4>
                    <div class="breadcrumb__links">
                        <a href="/trang-chu">Trang chủ</a>
                        <a href="/san-pham">Shop</a>
                        <span>@ViewBag.Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        @if (Model.Count > 0)
        {
            <div class="row">
                <div class="col-lg-8">
                    @using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
                    {
                        <div class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td class="product__cart__item d-flex align-items-center">
                                                <img class="product__cart__item__pic" src=@Url.Content(""+i.imageItem) style="width:20%;">
                                                <div class="product__cart__item__text">
                                                    <a href="@Url.Action("ProductDetail", "Shop", new { meta = i.metaItem, id = i.idItem })"><h6>@i.nameItem</h6></a>
                                                    <h5>@String.Format("{0:N0}", i.priceItem) ₫ <small class="discount-price">@String.Format("{0:N0}", i.unitPrice) ₫</small></h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <div class="pro-qty-2">
                                                        <input type="text" name="quanlity" value="@i.quantity">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__price">@String.Format("{0:N0}", i.priceTotal) ₫</td>
                                            <td class="cart__close">
                                                <a href="@Url.Action("DeteteCart","Cart", new { id = i.idItem})"><img src="~/Content/img/icon/close.png" alt="" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="outline-btn btn" href="/san-pham">Tiếp tục mua sắm</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="update__btn">
                                    <button class="site-btn" type="submit"><i class="fa fa-spinner"></i> Cập nhật giỏ</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Mã giảm giá</h6>
                        <form action="#">
                            <input type="text" placeholder="Nhập mã giảm giá">
                            <button class="rounded-right" type="submit">Áp dụng</button>
                        </form>
                    </div>
                    <div class="cart__total card">
                        <h6>Thông tin đơn hàng</h6>
                        <ul>
                            <li>Thành tiền <span>@String.Format("{0:N0}", ViewBag.price) ₫</span></li>
                            <li>Giảm giá <span>@String.Format("{0:N0}", ViewBag.discount) ₫</span></li>
                            <li>Tổng cộng <span class="text-danger font-weight-bold">@String.Format("{0:N0}", ViewBag.totalPrice) ₫</span></li>
                        </ul>
                        @*@if (Session["info"] != null)*@
                        @*{*@
                        <a href="@Url.Action("Checkout","Cart")" class="btn site-btn">Mua hàng</a>
                        @*}*@
                        @*else
                            {
                                <script>
                                    window.location.href = '@Url.Action("Login", "Account", new { message = "Vui lòng đăng nhập để mua hàng" })';
                                </script>
                            }*@
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="shopping__cart__table text-center">
                <img src="~/Content/img/Orders/empty.png" alt="" style="width:30%;" />
                <h3 class="my-3">Không có sản phẩm nào trong giỏ hàng!!</h3>
                <a class="outline-btn btn" href="/san-pham">Tiếp tục mua sắm</a>
            </div>
        }
    </div>
</section>
<!-- Shopping Cart Section End -->
<script>
    var obj = document.querySelector(".navbar li:nth-child(1)");
    obj.classList.remove("active");
</script>
