@using ShopOnline.Models
@{
    Member user = (Member)Session["info"];
}

<div class="header__nav__option">
    @if (Session["info"] != null)
    {
        <div class="header__nav__hover">
            <span>
                <img class="avatar mr-1" src="@Url.Content(user.avatar)" />@user.lastName<i class="arrow_carrot-down"></i>
            </span>
            <ul>
                <li>
                    <a href="@Url.Action("EditProfile", "User")">
                        Hồ sơ tài khoản
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ChangePassword", "User")">
                        Thay đổi mật khẩu
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MyOrder", "Invoice")">
                        Đơn hàng của tôi
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LogOut", "User")">Đăng xuất</a>
                </li>
            </ul>
        </div> }
    else
    {
        <a class="text" href="@Url.Action("SignIn", "User")">Đăng nhập</a>
    }

    <a href="#" class="search-switch"><img src="~/Content/img/icon/search.png" alt=""></a>
    <a href="#"><img src="~/Content/img/icon/favorite-folder.png" alt=""></a>
    <a href="@Url.Action("Cart", "Cart")"><img src="~/Content/img/icon/product.png" alt=""><span>@ViewBag.quanlityItem</span></a>
    @*<div class="price" style="margin-right:12px;">$ @ViewBag.totalPrice</div>*@
</div>
