@using ShopOnline.Models
@model List<Invoince>
@{
    ViewBag.Title = "Đơn hàng của tôi";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
        
    var currentMeta = ViewContext.RouteData.Values["status"] as string ?? "";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>@ViewBag.Title</h4>
                    <div class="breadcrumb__links">
                        <a href="/trang-chu">Trang chủ</a>
                        <span>@ViewBag.Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<link rel="stylesheet" href="~/Content/css/WatchOrders.css">
@if (TempData["msgOrder"] != null)
{
    <script>
        showToast({
            type: "success",
            message: "@TempData["msgOrder"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
else if (TempData["msgOrderFailed"] != null)
{
    <script>
        showToast({
            type: "danger",
            message: "@TempData["msgOrderFailed"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
@if (TempData["msgPaidFailed"] != null)
{
    <script>
        showToast({
            type: "danger",
            message: "@TempData["msgPaidFailed"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
@if (TempData["msgCancelOrder"] != null)
{
    <script>
        showToast({
            type: "success",
            message: "@TempData["msgCancelOrder"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}
else if (TempData["msgCancelOrderFailed"] != null)
{
    <script>
        showToast({
            type: "danger",
            message: "@TempData["msgCancelOrderFailed"].ToString().Replace("\"", "\\\"")"
        });
    </script>
}

<div class="container my__order">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link @(currentMeta == "" ? "active" : "")" href="#" data-status="">Tất cả</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentMeta == "pending" ? "active" : "")" href="#" data-status="pending">Chờ xác nhận</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentMeta == "confirmed" ? "active" : "")" href="#" data-status="confirmed">Vận chuyển</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentMeta == "shipping" ? "active" : "")" href="#" data-status="shipping">Chờ giao hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentMeta == "completed" ? "active" : "")" href="#" data-status="completed">Hoàn thành</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentMeta == "cancelled" ? "active" : "")" href="#" data-status="cancelled">Đã hủy</a>
        </li>
    </ul>
    @if (Model.Count == 0)
    {
        <div class="text-center my-5">
            <img src="~/Content/img/Orders/empty_state.png" class="img-fluid" alt="Responsive image" width="30%">
            <h5 style="margin: 16px 0;">Chưa có đơn hàng nào.</h5>
            <a href="/san-pham" class="btn outline-btn">SHOP NOW</a>
        </div>
    }
    else
    {
        <div id="listOrderContainer">
            @Html.Partial("_ListOrder", Model)
        </div>
    }
</div>

<script>
    var obj = document.querySelector(".navbar li:nth-child(1)");
    obj.classList.remove("active");
</script>
<script>
    $(document).ready(function () {
        $('.nav-pills .nav-link').on('click', function (e) {
            e.preventDefault();
            var status = $(this).data('status');

            $.ajax({
                url: '@Url.Action("GetOrdersByStatus", "Invoice")',
                type: 'GET',
                dataType: 'html',
                data: { status },
                success: function (res) {
                    $('#listOrderContainer').html(res);

                    // URL thay đổi mà không reload
                    var baseOrderUrl = "@Url.Action("MyOrder", "Invoice", new { status = "" })";
                    baseOrderUrl = baseOrderUrl.replace(/\/+$/, ""); // xóa dấu / cuối nếu có

                    var newUrl = status ? `${baseOrderUrl}/${status}` : baseOrderUrl;
                    window.history.pushState({ status }, "", newUrl);
                },
                error: function (err) {
                    console.log(err.responseText);
                }
            });

            // Xóa "active" của tất cả, rồi thêm vào item được chọn
            $('.nav-pills .nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>